# Temporary files
*.temporary
temporary/
temporary/*
*.tmp
* temporary*
*.jpg
*.png
*.jpeg
Screenshots/
!00-Inbox/*.jpg   # keep only if you really need some
!symbols.jpg

# Obsidian / build artifacts
.claude/
.obsidian/workspace
.obsidian/workspace.json
*.md~*

unsorted/
